* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--dark-150);
    color: var(--fg);
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: var(--fg-dark);
    font-size: var(--font-size-18);
}

.App {
    width: 100%;
    height: 100vh;
}

.content {
    margin-left: 250px;
    padding: 10px;
    padding-top: 60px;
}

.vacation {
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
}

.marker {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.marker-circle {
    width: 30px;
    height: 30px;
    min-height: 30px;
    background-color: var(--prim-light);
    border-radius: 50%;
}

.marker-line {
    width: 6px;
    background-color: var(--prim-light);
    border-radius: 3px;
    height: 100%;
}

.data {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.date {
    color: var(--fg-darker);
    line-height: 30px;
}

.card {
    width: 100%;
    max-width: 1300px;
    height: 200px;
    background-color: var(--dark-250);
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    transition: .15s;
    text-decoration: none;
}

.card.trip {
    height: auto;
    cursor: pointer;
}

.card.stop {
    height: auto;
    background-color: transparent;
    margin-top: 3px;
}

.card.stop:not(:first-child) {
    margin-top: 10px;
}

.card:hover {
    background-color: var(--dark-300);
}

.card.stop:hover {
    background-color: transparent;
}

.card img {
    height: 100%;
    width: 300px;
    object-fit: cover;
}

.card.stop img {
    height: 150px;
    width: 225px;
    border-radius: 10px;
}

.card-content {
    width: 100%;
    padding: 15px 20px;
}

.card-expand {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-expand-icon {
    width: 30px;
    height: 30px;
    object-fit: contain;
    transition: .15s;
}

.card-expand-icon.visible {
    transform: rotateZ(180deg);
}

.card-content h2 {
    color: var(--fg-light);
    font-weight: normal;
    font-size: var(--font-size-25);
}

.card.trip .card-content p {
    margin-top: 10px;
}

.card-content p {
    margin-top: 20px;
}

.vacation-header {
    width: 100%;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.vacation-header.trip {
    margin-top: 10px;
}

.vacation-header img {
    height: 300px;
    object-fit: contain;
    border-radius: 10px;
}

.vacation-header h1 {
    font-weight: normal;
    color: var(--fg-light);
    font-size: 40px;
}

.vacation-header-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.vacation-header .date {
    color: var(--fg-darker);
    line-height: normal;
}

.bottom-right-float {
    position: fixed;
    right: 50px;
    bottom: 50px;
    background-color: var(--prim-light);
    padding: 10px;
    border-radius: 10px;
    color: var(--fg-inverse);
    border: 0px;
    font-size: 1em;
}

.vacation-header input {
    font-weight: normal;
    color: var(--fg-light);
    background-color: var(--dark-250);
    border: solid 1px var(--dark-500);
    border-radius: 10px;
    padding: 10px;
    font-size: 40px;
}

.vacation-header input:focus {
    border: solid 1px var(--prim-light);
    outline: 0px;
}

.vacation-header textarea {
    color: var(--fg-light);
    font-size: var(--font-size-18);
    font-weight: normal;
    background-color: var(--dark-250);
    border: solid 1px var(--dark-500);
    border-radius: 10px;
    padding: 10px;
    flex-grow: 1;
}

.vacation-header textarea:focus {
    border: solid 1px var(--prim-light);
    outline: 0px;
}

.card-content input {
    color: var(--fg-light);
    font-weight: normal;
    font-size: var(--font-size-25);
    background-color: var(--dark-300);
    border: solid 1px var(--dark-500);
    border-radius: 10px;
    padding: 10px;
    flex-grow: 1;
}

.card-content textarea {
    margin-top: 10px;
    flex-grow: 1;color: var(--fg-light);
    font-size: var(--font-size-18);
    font-weight: normal;
    background-color: var(--dark-300);
    border: solid 1px var(--dark-500);
    border-radius: 10px;
    padding: 10px;
}

.card-desc-edit {
    display: flex;
}

.card-content textarea:focus {
    border: solid 1px var(--prim-light);
    outline: 0px;
}

.card-content input:focus {
    border: solid 1px var(--prim-light);
    outline: 0px;
}
