* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--dark-150);
    color: var(--fg);
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: var(--fg-dark);
    font-size: var(--font-size-18);
}

.App {
    width: 100%;
    height: 100vh;
}

.layout {
    overflow: hidden;
}

.content {
    margin-left: 250px;
    padding: 10px;
    padding-top: 60px;
    transition: 0.3s ease;
}

.content.expanded {
    margin-left: 0;
}

.vacation {
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
}

.marker {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.marker-circle {
    width: 30px;
    height: 30px;
    min-height: 30px;
    background-color: var(--prim-light);
    border-radius: 50%;
}

.marker-line {
    width: 6px;
    background-color: var(--prim-light);
    border-radius: 3px;
    height: 100%;
}

.data {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.date {
    color: var(--fg-darker);
    line-height: 30px;
}

.card {
    width: 100%;
    max-width: 1300px;
    height: 200px;
    background-color: var(--dark-250);
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    transition: .15s;
    text-decoration: none;
}

.card.trip {
    height: auto;
    cursor: pointer;
}

.card.stop {
    height: auto;
    background-color: transparent;
    margin-top: 3px;
}

.card.stop:not(:first-child) {
    margin-top: 10px;
}

.card:hover {
    background-color: var(--dark-300);
}

.card.stop:hover {
    background-color: transparent;
}

.card img {
    height: 100%;
    width: 300px;
    object-fit: cover;
}

.card.stop img {
    max-height: 110px;
    max-width: 200px;
    border-radius: 10px;
    margin: auto;
}

.card-content {
    width: 100%;
    padding: 15px 20px;
}

.card-expand {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-expand-icon {
    width: 30px;
    height: 30px;
    object-fit: contain;
    transition: .15s;
}

.card-expand-icon.visible {
    transform: rotateZ(180deg);
}

.card-content h2 {
    color: var(--fg-light);
    font-weight: normal;
    font-size: var(--font-size-25);
}

.card.trip .card-content p {
    margin-top: 10px;
}

.card-content p {
    margin-top: 20px;
}

.card.stop .card-content p {
    margin-top: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.vacation-header {
    width: 100%;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.vacation-header.trip {
    margin-top: 10px;
}

.vacation-header img {
    max-height: 300px;
    max-width: 50%;
    object-fit: contain;
    border-radius: 10px;
}

.vacation-header h1, .err-header {
    font-weight: normal;
    color: var(--fg-light);
    padding: 6px;
    padding: 6px;
    font-size: 40px;
}

.vacation-description {
    flex-grow: 1;
    padding: 6px;
}

.vacation-header-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.vacation-header .date {
    color: var(--fg-darker);
    line-height: normal;
}

.bottom-right-float {
    position: fixed;
    right: 50px;
    bottom: 50px;
    background-color: var(--prim-light);
    padding: 10px;
    border-radius: 10px;
    color: var(--fg-inverse);
    border: 0px;
    font-size: 1em;
}

.vacation-title-input {
    font-weight: normal;
    color: var(--fg-light);
    padding: 6px;
    font-size: 40px;
    font-weight: normal;
    color: var(--fg-light);
    background-color: transparent;
    border-radius: 10px;
    border: none;
    transition: background-color ease .15s;
}

.vacation-title-input.small {
    font-size: 25px;
    width: 100%;
}

.vacation-title-input:focus {
    border: solid 1px var(--prim-light);
    outline: 0px;
    background-color: var(--dark-250);
    padding: 5px;
}

.vacation-title-input:hover {
    background-color: var(--dark-200);
}

.vacation-header textarea,
.card-content textarea {
    font-weight: normal;
    color: var(--fg-light);
    font-size: var(--font-size-18);
    padding: 6px;
    font-weight: normal;
    color: var(--fg-dark);
    background-color: transparent;
    border: none;
    flex-grow: 1;
    font-family: sans-serif;
    resize: none;
    border-radius: 10px;
    transition: background-color ease .15s;
}

.card-content textarea {
    width: 100%;
}

.vacation-header textarea:focus,
.card-content textarea:focus {
    border: solid 1px var(--prim-light);
    outline: 0px;
    background-color: var(--dark-250);
    padding: 5px;
}

.vacation-header textarea:hover,
.card-content textarea:hover {
    background-color: var(--dark-200);
}

.card-desc-edit {
    display: flex;
}

.card-content input:focus {
    border: solid 1px var(--prim-light);
    outline: 0px;
}

.err-content {
    margin-top: 10px;
}

.trip-layout {
    min-height: calc(100vh - 70px);
    display: flex;
    gap: 10px;
}

.trip-map {
    width: calc(100% - 500px);
}

.trip-layout-details {
    width: 500px;
}

@media screen and (max-width: 1250px) {
    .trip-layout {
        flex-direction: column;
    }

    .trip-map {
        height: 450px;
        width: 100%;
    }

    .trip-layout-details {
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    .content {
        transform: translateX(250px);
        margin-left: 0;
    }

    .content.expanded {
        transform: translateX(0);
        margin-left: 0;
    }
}

@media screen and (max-width: 650px) {
    .card {
        flex-direction: column;
        height: auto;
    }

    .card > img {
        margin: auto;
        width: 100%;
        height: 200px;
    }

    .card-content > p {
        margin-top: 10px;
    }

    .vacation-header {
        flex-direction: column;
    }

    .vacation-header > img {
        margin: auto;
        max-width: 100%;
        max-height: 250px;
    }

    .vacation-header-content {
        width: 100%;
    }
}

.date-picker > div {
    border: 0px;
    padding: 1px;
    color: var(--fg-darker);
    border-radius: 5px;
    transition: background-color ease .15s;
}

.date-picker:focus-within > div {
    border: solid 1px var(--prim-light);
    outline: 0px;
    color: var(--fg-light);
    font-weight: normal;
    background-color: var(--dark-250);
    padding: 0px;
    color: var(--fg-light);
}

.date-picker:hover > div {
    background-color: var(--dark-200);
}

.date-picker input:focus {
    border: none;
    outline: none;
}

.date-range {
    color: var(--fg-darker);
}

.dark-button {
    background-color: var(--dark-250);
    border: 0px;
    border-radius: 10px;
    padding: 5px;
    color: var(--fg-dark);
}

.add-trip-button {
    margin-top: 30px;
    width: 100%;
    max-width: 1300px;
    height: 98px;
    transition: background-color ease .15s;
}

.add-trip-button:hover {
    background-color: var(--dark-300);
}

.trip-list-header {
    display: flex;
    max-width: 1300px;
}

.trip-list-header .date-range {
    flex-grow: 1;
}

.remove-trip-button {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    margin: auto;
    margin-right: 10px;
    color: var(--fg-dark);
}

.remove-trip-button svg:hover {
    color: #E55;
}

.img-hover {
    transition: ease .15s;
}

.img-hover:hover {
    opacity: 0.85;
}
